	body{background-color: #ffffcc; color: #003300; font-family: Arial, Helvetica, sans-serif}
	h1 {background-color: #ffffcc; color: #003366;}
	h2 {background-color: #ffffcc; color: #006600;}
	h3 {background-color: #ffffcc; color: #003300;}
	nav {font-size: 1.2em; font-weight: bold;}
	dd {font-size: .90em; line-height: 200%;}
	.contact {font-size: .90em; font-weight: bold; font-family: Times New Roman, serif;}
 	footer {font-size: .60em; font-style: italic;}